<a href="https://colab.research.google.com/github/JJYCode/CE888/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libaries**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
import aif360
import glob
%matplotlib inline     
sns.set(color_codes=True)

***Upload Files***

In [ ]:
from google.colab import files
uploaded = files.upload()

**Read cvs**

In [ ]:
names = ['avon-and-somerset','bedfordshire','btp','cambridgeshire','cheshire','city-of-london','cleveland',
          'cumbria','derbyshire','devon-and-cornwall','dorset','durham','dyfed-powys','essex','gloucestershire',
          'greater-manchester','gwent','hampshire','hertfordshire','humberside','kent','lancashire',
          'leicestershire','lincolnshire','merseyside','metropolitan','norfolk','northamptonshire','northumbria',
          'north-wales','north-yorkshire','nottinghamshire','south-wales','south-yorkshire','staffordshire',
          'suffolk','surrey','sussex','thames-valley','warwickshire','west-mercia','west-midlands',
          'west-yorkshire','wiltshire']

dates = ['2020-01','2020-02','2020-03','2020-04','2020-05','2020-05','2020-06','2020-07','2020-08','2020-09',
        '2020-10','2020-11','2020-12','2021-01','2021-02']
k = 0
df = pd.DataFrame()
for d in dates:
  for n in names:
    filename = d + n + '.csv'
    try:
      temp = pd.read_csv(filename)
      df = df.append(temp, ignore_index = True).copy()
      print(filename)
    except FileNotFoundError:
      k = k + 1

**Copy Data**

In [ ]:
df_all = df.copy()
print(df.shape)

(553519, 29)

**Check Stats**

In [ ]:
df.dtypes

Crime ID                                                                                                                      object
Month                                                                                                                         object
Reported by                                                                                                                   object
Falls within                                                                                                                  object
Longitude                                                                                                                    float64
Latitude                                                                                                                     float64
Location                                                                                                                      object
LSOA code                                                                                                                     object
LSOA name                                                                                                                     object
Crime type                                                                                                                    object
Last outcome category                                                                                                         object
Context                                                                                                                      float64
Measure                                                                                                                       object
Time                                                                                                                          object
Time_type                                                                                                                     object
Ethnicity                                                                                                                     object
Ethnicity_type                                                                                                                object
Gender                                                                                                                        object
Gender_type                                                                                                                   object
Age_Group                                                                                                                     object
Age_Group_type                                                                                                                object
Geography                                                                                                                     object
Geography_type                                                                                                                object
Number of arrests                                                                                                             object
Population by ethnicity, gender, and PFA (based on 2011 Census)                                                               object
Rate per 1,000 population by ethnicity, gender, and PFA                                                                       object
Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)     object
Notes                                                                                                                         object
Rate per 1,000 people                                                                                                        float64
dtype: object

**Summary Stat**

In [ ]:
df.head(5)

                                            Crime ID  ... Rate per 1,000 people
0                                                NaN  ...                   NaN
1                                                NaN  ...                   NaN
2                                                NaN  ...                   NaN
3  7273451a39f7c26bf981e755bf203eed58abbb97b78cf5...  ...                   NaN
4  010772379c1fcf469c8c7a074b4630b9d80b1598442b8b...  ...                   NaN

[5 rows x 29 columns]

In [ ]:
df['Crime type'].unique()

array(['Anti-social behaviour', 'Burglary', 'Criminal damage and arson',
       'Public order', 'Violence and sexual offences', 'Other theft',
       'Shoplifting', 'Vehicle crime', 'Drugs', 'Bicycle theft',
       'Theft from the person', 'Robbery', 'Possession of weapons',
       'Other crime', nan], dtype=object)

In [ ]:
df['Ethnicity'].unique()

array([nan, 'All', 'Any other asian', 'Any other black background',
       'Any other ethnic group',
       'Any other mixed/multiple ethnic background',
       'Any other white background', 'Asian', 'Bangladeshi', 'Black',
       'Black African', 'Black Caribbean', 'Chinese', 'Indian', 'Mixed',
       'Mixed White and Asian', 'Mixed White and Black African',
       'Mixed White and Black Caribbean', 'Other', 'Pakistani',
       'Unreported', 'White', 'White British', 'White Irish',
       'Asian other', 'Black other', 'Mixed White/Asian',
       'Mixed White/Black African', 'Mixed White/Black Caribbean',
       'Mixed other', 'White other', 'Other inc Chinese', 'Any other',
       'Unknown'], dtype=object)

In [ ]:
pd.DataFrame(df['Last outcome category'].value_counts())

                                                    Last outcome category
Under investigation                                                150892
Investigation complete; no suspect identified                       86337
Unable to prosecute suspect                                         53099
Awaiting court outcome                                               9077
Local resolution                                                     4295
Offender given a caution                                             1558
Further investigation is not in the public inte...                   1556
Action to be taken by another organisation                           1549
Formal action is not in the public interest                           816
Further action is not in the public interest                          688
Offender given penalty notice                                         684
Offender given a drugs possession warning                             659
Suspect charged as part of another case                                30

In [ ]:
for col in df_all.columns:
    print(col)
    print('============')
    print(df[col].describe())
    print('------------')

Crime ID
============
count                                                311240
unique                                               308133
top       490b595dc6eb4b0a3e1f8d7fa53d2be5460d146d8f133a...
freq                                                     69
Name: Crime ID, dtype: object
------------
Month
============
count      444176
unique          1
top       2021-01
freq       444176
Name: Month, dtype: object
------------
Reported by
============
count                          444176
unique                             42
top       Metropolitan Police Service
freq                            84848
Name: Reported by, dtype: object
------------
Falls within
============
count                          444176
unique                             42
top       Metropolitan Police Service
freq                            84848
Name: Falls within, dtype: object
------------
Longitude
============
count    438736.000000
mean         -1.209627
std           1.274231
min          -6.318417
25%          -2.022395
50%          -1.209577
75%          -0.153057
max           1.757344
Name: Longitude, dtype: float64
------------
Latitude
============
count    438736.000000
mean         52.332984
std           1.115943
min          49.914885
25%          51.489475
50%          51.909787
75%          53.280317
max          57.517515
Name: Latitude, dtype: float64
------------
Location
============
count                     444176
unique                     98709
top       On or near Supermarket
freq                       13111
Name: Location, dtype: object
------------
LSOA code
============
count        438667
unique        32298
top       E01033583
freq            211
Name: LSOA code, dtype: object
------------
LSOA name
============
count          438667
unique          32298
top       Newham 013G
freq              211
Name: LSOA name, dtype: object
------------
Crime type
============
count                           444176
unique                              14
top       Violence and sexual offences
freq                            136454
Name: Crime type, dtype: object
------------
Last outcome category
============
count                  311240
unique                     13
top       Under investigation
freq                   150892
Name: Last outcome category, dtype: object
------------
Context
============
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Context, dtype: float64
------------
Measure
============
count                109320
unique                    1
top       Number of arrests
freq                 109320
Name: Measure, dtype: object
------------
Time
============
count      109320
unique          6
top       2015/16
freq        18222
Name: Time, dtype: object
------------
Time_type
============
count             109320
unique                 1
top       Financial year
freq              109320
Name: Time_type, dtype: object
------------
Ethnicity
============
count     109343
unique        33
top        White
freq        4757
Name: Ethnicity, dtype: object
------------
Ethnicity_type
============
count            109320
unique                4
top       ONS 2001 16+1
freq              76032
Name: Ethnicity_type, dtype: object
------------
Gender
============
count     109320
unique         3
top          All
freq       36456
Name: Gender, dtype: object
------------
Gender_type
============
count          109320
unique              1
top       Male/Female
freq           109320
Name: Gender_type, dtype: object
------------
Age_Group
============
count     109320
unique         6
top          All
freq       18240
Name: Age_Group, dtype: object
------------
Age_Group_type
============
count                          109320
unique                              1
top       Arrest age group categories
freq                           109320
Name: Age_Group_type, dtype: object
------------
Geography
============
count          109320
unique             45
top       North Wales
freq             2484
Name: Geography, dtype: object
------------
Geography_type
============
count                109320
unique                    1
top       Police Force Area
freq                 109320
Name: Geography_type, dtype: object
------------
Number of arrests
============
count     106499
unique      6812
top            -
freq       38714
Name: Number of arrests, dtype: object
------------
Population by ethnicity, gender, and PFA (based on 2011 Census)
============
count                            108132
unique                             2657
top       N/A for individual age groups
freq                              91080
Name: Population by ethnicity, gender, and PFA (based on 2011 Census), dtype: object
------------
Rate per 1,000 population by ethnicity, gender, and PFA
============
count                            107664
unique                             5764
top       N/A for individual age groups
freq                              91080
Name: Rate per 1,000 population by ethnicity, gender, and PFA, dtype: object
------------
Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)
============
count                            108036
unique                              638
top       N/A for individual age groups
freq                              91080
Name: Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported), dtype: object
------------
Notes
============
count                                                  3812
unique                                                    6
top       This force could not supply detailed ethnicity...
freq                                                   1764
Name: Notes, dtype: object
------------
Rate per 1,000 people
============
count    22.000000
mean     17.954545
std      12.834022
min       3.000000
25%      12.000000
50%      14.500000
75%      20.250000
max      64.000000
Name: Rate per 1,000 people, dtype: float64
------------

In [ ]:
df.Make.value_counts().nlargest(40).plot(kind='bar', figsize=(10,5))
plt.title("Race arrest rate")
plt.ylabel('Rate per 1,000 people')
plt.xlabel('Ethnicity');